@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jersey+25&display=swap');

:root {
    --cor-primaria: #04042B;
    --cor-secundaria: #fff;
    --cor-terciaria: #042c5c;
    --cor-formulario: #D9D9D9;
    --cor-hover: #27D2E6;
    --cor-selecionado: #CFE7FF;

    --fonte-primaria: 'Archivo Black', sans-serif;
}

body {
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

.container {
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-areas: 
        'sidebar formulario formulario'
        'rodape formulario formulario';
}

.container div {
    padding: 1vh;
    border-radius: 15px;
}

.sidebar {
    background-image:url(./assets/background_inova.png);
    color: var(--cor-secundaria);
    grid-area: sidebar;
    width: 26rem;
    height: 71.5vh;
    font-size: 18px;
}

.sidebar .logo {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.sidebar .logo img{
    max-width: 264px;
    max-height: 85px;
    width: auto;
    height: auto;
}

.sidebar .sidebar__topicos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
}

.sidebar .sidebar__topicos ul {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    
}

.sidebar .sidebar__topicos ul li a{
    background-color: var(--cor-primaria);
    border: 0.15rem solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    padding: 0.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.2rem;
    border-radius: 0.5rem;
    width: 20rem;
}

.sidebar .sidebar__topicos ul li a:hover {
    color: var(--cor-hover);
    border: 0.15rem solid var(--cor-hover);
}


.formulario {
    background-color: var(--cor-formulario);
    color: var(--cor-primaria);
    grid-area: formulario;
    width: 55rem;
    height: 92.7vh;
}

.formulario .campo {
    font-size: 14px;
    margin: 0 1rem 0 3rem;
    padding: 0 1rem;
    display: grid;
    gap: 0.1rem;
    grid-template-areas:
        'instrucao instrucao instrucao instrucao'
        'nome nome genero nacionalidade'
        'nascimento cpf rg telefone'
        'email email senha confirmaSenha'
        'uf cidade cep rua'
        'numero complemento bairro bairro'
        'anexoIdentidade anexoIdentidade anexoResidencia anexoResidencia'
        'cancelar cancelar enviar enviar';
}

.formulario h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    margin-right: 3rem;
    font-size: 16px;
}

.formulario .campo label{
    margin-bottom: 0.5rem;
    color: var(--cor-primaria);
    display: block;
}

.formulario .campo .campo__instrucao {
    grid-area: instrucao;
    border-bottom: 0.1rem solid var(--cor-primaria);
    margin-bottom: 0.5rem;
}

.formulario .campo .campo__nome {
    grid-area: nome;
}

#nome {
    width: 20.9rem;
}

.formulario .campo .campo__genero {
    grid-area: genero;
}

.formulario .campo .campo__genero select {
    width: 9.2rem;
}

.formulario .campo .campo__nacionalidade {
    grid-area: nacionalidade;
}

.formulario .campo .campo__nascimento {
    grid-area: nascimento;
}

.formulario .campo .campo__cpf {
    grid-area: cpf;
}

.formulario .campo .campo__rg {
    grid-area: rg;
}

.formulario .campo .campo__telefone {
    grid-area: telefone;
}

.formulario .campo .campo__email {
    grid-area: email;
}

#email {
    width: 20.9rem;
}

.formulario .campo .campo__senha {
    grid-area: senha;
}

.formulario .campo .campo__confirmaSenha {
    grid-area: confirmaSenha;
}

.formulario .campo .campo__uf {
    grid-area: uf;
}

.formulario .campo .campo__uf select {
    width: 9.2rem;
}

.formulario .campo .campo__cidade {
    grid-area: cidade;
}

.formulario .campo .campo__cep {
    grid-area: cep;
}

.formulario .campo .campo__rua {
    grid-area: rua;
}

.formulario .campo .campo__numero {
    grid-area: numero;
}

.formulario .campo .campo__complemento {
    grid-area: complemento;
}

.formulario .campo .campo__bairro {
    grid-area: bairro;
}

.formulario .campo .campo__anexoIdentidade {
    grid-area: anexoIdentidade;
}

#anexoIdentidade {
    width: 21.3rem;
}

.formulario .campo .campo__anexoResidencia {
    grid-area: anexoResidencia;
}

#anexoResidencia {
    width: 21.3rem;
}

.formulario .campo__anexoIdentidade .campo__anexoIdentidade__botao img, .formulario .campo__anexoResidencia .campo__anexoResidencia__botao img{
    max-width: 16rem;
    max-height: 4rem;
    width: auto;
    height: auto;
    cursor: pointer;
    border: 0.1rem solid var(--cor-primaria);
    border-radius: 0.8rem;
}

.formulario .campo .campo__botaoCancelar{
    grid-area: cancelar;
}

.formulario .campo .campo__botaoEnviar{
    grid-area: enviar;
}

.formulario .campo__botaoCancelar #cancelar, .formulario .campo__botaoEnviar {
    background-color: var(--cor-terciaria);
    border: 0.1rem solid var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 22.1rem;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.8rem;
    margin: 0 0 0.5rem 0.3rem;
    font-weight: 600;
}

.formulario .campo__botaoCancelar #cancelar:hover, .campo__botaoEnviar:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    text-decoration: none;
}

.formulario .campo input[type="text"], .campo input[type="password"], .campo input[type="email"], .campo input[type="tel"], .campo input[type="date"], .campo select, .campo textarea {
    padding: 0.5rem;
    border: 0.1rem solid var(--cor-primaria);
    border-radius: 0.8rem;
    box-shadow: var(--cor-primaria);
    display: block;
    width: 8rem;
    font-weight: 600;
}

.formulario .campo input:focus, .campo select:focus, .campo textarea:focus {
    background: var(--cor-selecionado);
    font-weight: 600;
}

.formulario .campo input[type="file"] {
    display: none;
}

.rodape {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    grid-area: rodape;
    width: 26rem;
    height: 17.7vh;
    align-items: center;
}

.rodape footer {
    display: flex;
    justify-content: space-between;
    height: 17.7vh;
    align-items: center;
    padding: 0 1rem;
}

.rodape footer .rodape__endereco {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 12px;
    padding: 1rem;
    gap: 0.3rem;
}

.rodape footer .rodape__links a{
    display: flex;
    flex-direction: column;
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 0.3rem;
    gap: 0.3rem;
    font-size: 18px;
}

.rodape footer .rodape__links a:hover {
    color: var(--cor-hover);
}